.work-container {
  width: 100%;
  height: auto !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.work-content {
  width: 74%;
  height: auto !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 20px;
}
.work-title-paragraph {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-title {
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}
.work-paragraph {
  color: #fff;
  text-align: center;
}
.cards {
  width: 100%;
  height: auto !important;
  display: flex;
  gap: 30px;
  position: relative;
  left: -130%;
  transition: 2s ease-in-out;
}
.cards.active {
  left: 0;
}
.cards- {
  width: 100%;
  height: auto !important;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 26px;
  position: relative;
  right: -130%;
  transition: 2s ease-in-out;
}
.cards-.active {
  right: 0;
}
.kartice {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow: hidden;
}
.ikona-div {
  display: flex;
  justify-content: right;
  display: none;
}

@media screen and (max-width: 600px) {
    .work-content{
      width: 100%;
    }
    .cards{
      flex-direction: column;
      padding-left: 50px;
    }
    .cards-{
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-left: 50px;
    }
}

