.about-container {
  width: 100%;
  height: 100vh;
  background: rgb(46, 49, 65);
  display: flex;
  justify-content: left;
  align-items: center;
}

.about-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  height: 70vh;
  padding: 3%;
  transition: 2.8s ease-out;
  position: absolute;
  left: -100%;
}

.about-box.active {
  left: 0%;
}

.about-box-title {
  font-size: 1.4rem;
  color: aliceblue;
  border-bottom: 1px solid white;
}
.about-box-paragraph {
  color: aliceblue;
  margin-top: 10px;
  font-size: 1.1rem;
}

@media screen and (max-width: 967px) {
  .about-container {
    height: 90vh;
  }
  .about-box {
    gap: 10px;
    width: 100%;
  }
  .about-box-title {
    font-size: 1.1rem;
  }
  .about-box-paragraph {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 800px) {
  .about-container {
    height: 65vh;
  }
  .about-box-paragraph {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 696px) {
  .about-box-paragraph {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 500px) {
  .about-box-paragraph {
    font-size: 1rem;
  }
}
